# Everywhere
.DS_Store

# services/backend
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# services/gateway/frontend
node_modules/
