# Everywhere
.DS_Store
.env

# services/app/backend
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
migrations/

# services/app/frontend
node_modules/
